@model ML.Cita
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Alta de canditato</h1>
    <h5>Llena la información del nuevo candidato</h5>
</div>
<hr />
@using (@Html.BeginForm("Form", "Cita", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Nombre del candidato")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-circle-user" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Candidato.Nombre, new { @class = "form-control", @Id = "txtNombre", @onkeypress = "return SoloLetras(event, this)" })
            </div>
            @Html.ValidationMessageFor(model => Model.Candidato.Nombre, "", new { @class = "text-danger", @id = "lblCandidatoNombreErrorMessage" })
        </div>
        <div class="col-md-3">
            @Html.Label("Apellido Paterno")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-circle-user" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Candidato.ApellidoPaterno, new { @class = "form-control", @Id = "txtApellidoPaterno", @onkeypress = "return SoloLetras(event, this)" })
            </div>
            @Html.ValidationMessageFor(model => Model.Candidato.ApellidoPaterno, "", new { @class = "text-danger", @id = "lblApellidoPaternoErrorMessage" })
        </div>
        <div class="col-md-3">
            @Html.Label("Apellido Materno")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-circle-user" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Candidato.ApellidoMaterno, new { @class = "form-control", @Id = "txtApellidoMaterno", @onkeypress = "return SoloLetras(event, this)" })
            </div>
            @Html.ValidationMessageFor(model => Model.Candidato.ApellidoMaterno, "", new { @class = "text-danger", @id = "lblApellidoMaternoErrorMessage" })
        </div>
        <div class="col-md-3">
            @Html.Label("Correo")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-at" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Candidato.Correo, new { @class = "form-control", @id = "txtEmail", onblur = "checkEmail(this.value)"})
                @Html.ValidationMessageFor(model => Model.Candidato.Correo, "", new { @class = "text-danger", @id = "lblEmailErrorMessage" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Html.Label("Telefono")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-hashtag" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Candidato.Celular, new { @class = "form-control", @Id = "txtTelefono", @onkeypress = "return SoloNumeros(event, this)" })
            </div>
            @Html.ValidationMessageFor(model => Model.Candidato.Celular, "", new { @class = "text-danger", @id = "lblTelefonoErrorMessage" })
        </div>
        <div class="col-md-3">
            @Html.Label("Empresa")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-circle" style="color: #0056d6;"></i></span>
                <select name="select" class="form-control">
                    <option value="value1" selected>Selecciona</option>
                    <option value="value1">Digis 01</option>
                    <option value="value2">Risosu IT</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("Vacante")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-thumbtack" style="color: #0056d6;"></i></span>
                @Html.DropDownListFor(model => model.Candidato.Vacante.IdVacante, new SelectList(Model.Candidato.Vacante.Vacantes, "IdVacante", "Nombre"), "Seleciona una opcion", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("Reclutador")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-thumbtack" style="color: #0056d6;"></i></span>
                @Html.DropDownListFor(model => model.Reclutador.IdReclutador, new SelectList(Model.Reclutador.Reclutadores, "IdReclutador", "Nombre"), "Seleciona una opcion", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("Fecha")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-circle-user" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control", @type = "datetime-local", @Id = "Fecha" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Status.IdStatus)
    </div>


    <hr />
    <div class="text-center">
        <h1>Informacion de la reclutadora</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Reclutador Nombre")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-hashtag" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Reclutador.Nombre, new { @class = "form-control", @Id = "txtNombre" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("Reclutador Apellido Paterno")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-hashtag" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Reclutador.ApellidoPaterno, new { @class = "form-control", @Id = "txtNombre" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("Reclutador Apellido Materno")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-hashtag" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Reclutador.ApellidoMaterno, new { @class = "form-control", @Id = "txtNombre" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("Correo")
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonNombre"><i class="fa-solid fa-hashtag" style="color: #0056d6;"></i></span>
                @Html.TextBoxFor(model => model.Reclutador.Correo, new { @class = "form-control", @Id = "txtNombre" })
            </div>
        </div>
    </div>
    <br />
    <div class="text-center">
        <button class="btn btn-success">Guardar <i class="fa-solid fa-floppy-disk"></i></button>
        <button class="btn btn-danger">Cancelar <i class="fa-solid fa-xmark"></i></button>
    </div>
}

<script src="~/js/ValidacionesCita/ValidacionesCampos.js"></script>