@model ML.Candidato
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Validar QR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PL.styles.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
@* <body style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/010/884/695/original/dynamic-grey-gradient-animation-smooth-gradient-background-liquid-gradient-moving-background-free-video.jpg')"> *@
<body style="background: linear-gradient(to bottom right, #000000, #494949)">
    <div class="container">
        <br />
        <div class="text-center text-white">
            <section ><h1>Validación de Codigo QR</h1></section>
            <hr style="background-color:white; height: 3px" />
        </div>
        <br />
        <br />
        <br />
        @switch (ViewBag.Status)
        {
            case 200:
                <div class="text-center">
                    <h1><i class="fa-regular fa-circle-check fa-2xl" style="color: #44983a;"></i></h1>
                    <h1 style="font-weight:bold; color:#44983a">QR Valido </h1>
                </div>
                <br />
                <div class="text-center text-white">
                    <h5>Información del candidato</h5>                   
                </div>  
                <table class="table table-dark table-hover">
                    <thead class="table-secondary">
                        <tr class="text-center">
                            <th> @Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr><td><i class="fa-solid fa-thumbtack" style="color: #cfcfcf;"></i> @Model.Vacante.Nombre</td></tr>
                        <tr><td><i class="fa-solid fa-at style=" style="color: #cfcfcf;"></i> @Model.Correo</td></tr>
                        <tr><td><i class="fa-solid fa-phone" style="color: #cfcfcf;"></i> @Model.Celular</td></tr>
                    </tbody>
                </table>
                break;
            case 201:
                <div class="text-center">
                    <h1><i class="fa-solid fa-clock fa-2xl" style="color: #ffbb00;"></i></h1>
                    <h1 style="font-weight:bold; color:#ffbb00">QR Expirado </h1>
                </div>
                <br />
                <div class="text-center text-white">
                    <h5>Información del candidato</h5>
                </div>
                <table class="table table-dark table-hover">
                    <thead class="table-secondary">
                        <tr class="text-center">
                            <th> @Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr><td><i class="fa-solid fa-thumbtack" style="color: #cfcfcf;"></i> @Model.Vacante.Nombre</td></tr>
                        <tr><td><i class="fa-solid fa-at style=" style="color: #cfcfcf;"></i> @Model.Correo</td></tr>
                        <tr><td><i class="fa-solid fa-phone" style="color: #cfcfcf;"></i> @Model.Celular</td></tr>
                    </tbody>
                </table>         
                break;
            case 400:
                <div class="text-center">
                    <h1><i class="fa-regular fa-circle-xmark fa-2xl" style="color: #F13838;"></i></h1>
                    <h1 style="font-weight:bold; color:#F13838">QR Invalido </h1>
                    <hr style="background-color:#F13838; height: 2px" />
                    <h5 class="text-white">Intente nuevamente con un codigo QR valido</h5>
                </div>

                break;
            case 404:
                <div class="text-center">
                    <h1><i class="fa-regular fa-hand fa-2xl" style="color: #F13838;"></i></h1>
                    <h1 style="font-weight:bold; color:#F13838">Escanea un codigo QR </h1>
                </div>
                <hr style="background-color:#F13838; height: 2px" />
                break;
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>

